<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>jLEA</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>agentName</param-name>
    <param-value>front,ce</param-value>
  </context-param>
  <context-param>
      <param-name>publicPath</param-name>
      <param-value>/usr/local/tomcat/webapps/LEA/</param-value>
  </context-param>
  <context-param>
      <param-name>srcPath</param-name>
      <param-value>/usr/local/tomcat/webapps/LEA/WEB-INF/classes/live/</param-value>
  </context-param>
  <context-param>
      <param-name>binPath</param-name>
      <param-value>/usr/local/tomcat/webapps/LEA/WEB-INF/classes/live/</param-value>
  </context-param>
  <context-param>
      <param-name>classpath</param-name>
      <param-value>.:/usr/local/tomcat/webapps/LEA/WEB-INF/lib/mind-0.0.2.jar:/usr/local/tomcat/lib/servlet-api.jar:/usr/local/tomcat/lib/websocket-api.jar</param-value>
  </context-param>
  <context-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
  </context-param>
</web-app>
